.ipContainer {
  height: 40vh;
  width: 100vw;
  background-image: url(../../assets/background.svg);
}

#ipTitle {
  font-size: 2.5rem;
  color: white;
  padding: 4vh 0;
}

#ipInput {
  width: 30vw;
  height: 6vh;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: none;
  font-size: 1.2rem;
  padding-left: 1vw;
}

#ipInput:focus {
  outline: none;
}

#ipInput::placeholder {
  color: var(--gray);
  margin-left: 2vw;
}

#ipButton {
  width: 3vw;
  border: none;
  height: 6vh;
  background-color: black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

#ipButton:hover {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  #ipTitle {
    font-size: 2rem;
  }
  #ipInput {
    font-size: 0.8rem;
  }
  #ipButton {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  #ipTitle {
    font-size: 1.5rem;
  }
  #ipInput {
    font-size: 0.6rem;
  }
  #ipButton {
    font-size: 0.6rem;
  }
}

@media (max-width: 600px) {
  #ipInput {
    width: 44vw;
    font-size: 0.7rem;
  }
  #ipButton {
    width: 6vw;
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  #ipTitle {
    font-size: 1.2rem;
  }
  #ipInput {
    font-size: 0.6rem;
  }
  #ipButton {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  #ipInput {
    font-size: 0.5rem;
    height: 4vh;
  }
  #ipButton {
    font-size: 0.5rem;
    height: 4vh;
  }
}
